{% extends 'base.html.twig' %}

{% block stylesheets %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  }
</style>
{% endblock %}

{% block body %}
    <h1>Annonce</h1>

    <table>
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ annonce.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ annonce.description }}</td>
            </tr>
            <tr>
                <th>modele</th>
                <td>{{ annonce.modele.nom }}</td>
            </tr>
            <tr>
                <th>Couleur</th>
                <td>{{ annonce.couleur.nom }}</td>
            </tr>
            <tr>
                <th>Boite</th>
                <td>{{ annonce.boite }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ annonce.prix }}</td>
            </tr>
            <tr>
                <th>Km</th>
                <td>{{ annonce.km }}</td>
            </tr>
            <tr>
                <th>Photo1</th>
                <td>{{ annonce.photo1 }}</td>
            </tr>
            <tr>
                <th>Photo2</th>
                <td>{{ annonce.photo2 }}</td>
            </tr>
            <tr>
                <th>Photo3</th>
                <td>{{ annonce.photo3 }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ annonce.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('annonce_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('annonce_edit', { 'id': annonce.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
