{% extends 'base.html.twig' %}

{% block body %}    
    <h1 class="titleHome">Liste d'annonces</h1>  
    <select id="MarqueFiltre" class="form-control" data-style="btn-primary" name="MarqueFiltre" placeholder="Marques" >
        <option value="" disabled selected>Choisir la marque</option>
        {% for Marque in Marques %}
            <option value="{{ Marque.id }}" {% if marque == Marque.id %}selected{% endif %}>{{ Marque.nom }}</option>
        {% endfor %}
    </select>
    <br>


    <table class="table table-hover" id="triBarre">
        <thead>
            <tr>
                <th>Trier par : </th>
                <th id="advert-id"><a href="#" onclick="sortby('id');">Date</a><span class="glyphicon"></span></th>
                <th id="advert-modele"><a href="#" onclick="sortby('modele');">Modèle</a><span class="glyphicon"></span></th>
                <th id="advert-prix"><a href="#" onclick="sortby('prix');">Prix </a><span class="glyphicon"></span></th>
                <th id="advert-km"><a href="#" onclick="sortby('km');">km </a><span class="glyphicon"></span></th>
            </tr>
        </thead>
    </table>


    {% for Annonce in Annonces %}

            <div class="liste"> 
                <a href ="{{ path('annonce_show',  {'id': Annonce.id })}}">
                    <div class="div">
                        <span><img class="photoTitre" src="/uploads/photos/{{ Annonce.photo1 }}" ></span>
                        <span class="titleh2">{{ Annonce.titre }}</span>
                        <span class="marque">{{ Annonce.modele.marque }}</span>
                        <span class="modele">{{ Annonce.modele.nom }}</span>
                        <span>{{ Annonce.couleur.nom }} </span>
                        <span>{{ Annonce.prix }} €</span>

                    </div>
                </a>
            </div>
    {% endfor %}

{% endblock %}



{% block javascripts %}
    <script>
        var make = document.getElementById('MarqueFiltre');

        make.onchange = function () {
            location.href = "{{ path('validForm') }}?marque=" + this.value;
        };


        //get parameter from url by name
        function getParameterByName(name) {

            var url = window.location.href;

            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                    results = regex.exec(url);
            if (!results || !results[2])
                return null;

            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }



        var baseURL = '{{ path('validForm') }}?marque={{ marque }}';

        //toggle
        var orderBy = getParameterByName('orderby');
        //if not set, default is sortby id DESC
        if (!orderBy)
            orderBy = 'DESC';


        var toggleClass = 'glyphicon-triangle-top';
        if (orderBy === 'DESC')
            toggleClass = "glyphicon-triangle-bottom";

        //
        var sortBy = getParameterByName('sortby');
        if (!sortBy)
            sortBy = 'id';

        var link = document.querySelector('#advert-' + sortBy + '  span');
        link.classList.add(toggleClass);



        function sortby(name) {

            var orderBy = getParameterByName('orderby');
            if (orderBy === 'DESC')
                orderBy = 'ASC';
            else
                orderBy = 'DESC';

            location.href = baseURL + '&sortby=' + name + '&orderby=' + orderBy;
        }


    </script>

{% endblock %}

